{% extends "base.html.twig" %}
{% set route = app.request.attributes.get("_route") %}
{% set params = app.request.attributes.get("_route_params") %}
{% set current_url = url(route,params) %}
{% set meta_title = article.metadata ? article.metadata.title %}
{% set meta_description = article.metadata ? article.metadata.description %}
{% set image_path = asset('assets/img_external/gallery/blog-1.jpg') %}
{% set alt = "picture.png" %}
{% set title = "article" %}
{% if article.images %}
    {% set i = 0 %}
    {% for image in article.images %}
        {% if file_exists(asset('/images/articles/'~ image.filename)) %}
            {% if i == 0 %}

                {% set image_path = asset('/images/articles/'~ image.filename) | imagine_filter("detail_slider") %}
                {% set alt = image.alt %}
                {% set title = image.title %}
            {% endif %}
        {% endif %}
        {% set i = i+1 %}
    {% endfor %}
{% endif %}
{% block title %}{{ meta_title }}{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/loading.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/loading-btn.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/cartouche.css') }}"/>
{% endblock %}
{% block metadata %}
    <meta name="description" content="{{ meta_description }}">
    <meta property="og:url" content="{{ current_url }}"/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ meta_title }}" />
    <meta property="og:description"   content="{{ meta_description }}" />
    <meta property="og:image"         content="{{ image_path }}" />
{% endblock %}
{% block content %}

    <div class="pi-section-w pi-section-white pi-slider-enabled piTooltips piSocials">
        <div class="pi-section pi-padding-bottom-10">

            <div class="pi-row">

                <div class="pi-col-sm-9 pi-padding-bottom-40">

                    <!-- Slider -->
                    <div class="pi-slider-wrapper pi-slider-arrows-inside pi-slider-show-arrow-hover pi-margin-bottom-40">
                        <div class="pi-slider pi-slider-animate-opacity">

                            <!-- Slide -->
                            <div class="pi-slide">
                                <div class="pi-img-w pi-img-round-corners pi-img-shadow pi-img-with-overlay">
                                    <span>
                                        <img src="{{ image_path }}" alt="{{ alt }}" title="{{ title }}">
                                    </span>
                                </div>
                            </div>
                            <!-- End slide -->

                            {% if article.name matches "/service client/" == false%}
                            <div class="news_label" style="background: url('{{ asset('assets/img/news.png') }}') no-repeat content-box;height: 60px;width:100px;background-size: contain;position: relative;z-index:10;top: 346px;left:81%"></div>
                            {% endif %}


                        </div>
                    </div>

                    <!-- End slider -->

                    {% if article.name matches "/service client/" %}
                        <p>Vous pouvez joindre {{ article.name }} par téléphone</p>
                        {{ include('app/content/button_caller.html.twig') }}
                        {% else %}
                    <h1 class="pi-weight-600">
                        {{ article.name | capitalize }}
                    </h1>
                    {% endif %}
                    {{ article.content | raw }}
                  <div class="fb-share-button"
                    data-href="{{ current_url }}"
                    data-layout="button_count">
                  </div>

                </div>

                <div class="pi-sidebar pi-col-sm-3">

                    {% set params = app.request.attributes.get("_route_params") %}
                    {% set related_articles = render(controller("App\\Controller\\ArticleController:relatedArticle", {'categorie': params['categorie'], 'article' : params['article']})) | json_decode %}

                    <!-- Related Articles -->
                    {% for art in related_articles %}
                    <div class="pi-sidebar-block pi-padding-bottom-40">
                        <h3 class="h6 pi-uppercase pi-weight-700 pi-letter-spacing pi-has-bg pi-margin-bottom-15">
                            {% set article_link = path('article', {'categorie': art.slug_categorie, 'article': art.slug_article })  %}
                            <a href="{{ article_link}}">{{ art.name }}</a>
                        </h3>

                            {{ art.content | easyadmin_truncate(200,true,"<br><a href='" ~ article_link ~ "'>Lire la suite ....</a>") | raw }}

                    </div>
                    {% endfor %}

                    <!-- Related Articles -->

            </div>

        </div>
    </div>

{% endblock %}
        {% block javascripts %}
{{ parent() }}
          <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}