{% extends "base.html.twig" %}
{% block content %}

    <div class="pi-section-w pi-section-white piCounter">
        <div class="pi-section pi-padding-bottom-30">

            <h2 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-25">
                {{ categorie.name | capitalize }}
            </h2>

            <!-- Portfolio gallery -->
            <div class="pi-row pi-liquid-col-xs-3 pi-gallery pi-padding-bottom-20">
                {% for article_categorie in categorie.categorieArticles() %}
                    {% set article = article_categorie.articles %}
                <!-- Portfolio item -->
                <div class="pi-gallery-item pi-padding-bottom-40">
                    <div class="pi-img-w pi-img-round-corners pi-img-shadow">
                        <a href="{{ path('article', {'categorie': categorie.slug, 'article': article.slug  }) }}" class="pi-colorbox cboxElement">
                            <img src="https://via.placeholder.com/326x228.png?text={{ article.name }}" alt="{{ article.name }}">
                            <div class="pi-img-overlay pi-img-overlay-darker">
                                <div class="pi-caption-centered">
                                    <div>
                                        <span class="pi-caption-icon pi-caption-scale icon-search"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <h3 class="h6 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-5"><a href="{{ path('article', {'categorie': categorie.slug, 'article': article.slug  }) }}" class="pi-link-dark">{{ article.name }}</a></h3>
{#                    <ul class="pi-meta">
                        <li><i class="icon-tag"></i><a href="#">tag</a>, <a href="#">tag2</a></li>
                    </ul>#}
                </div>
                <!-- End portfolio item -->

                {% endfor %}
            </div>
            <!-- End portfolio gallery -->


        </div>
    </div>
{% endblock %}