{% extends "base.html.twig" %}
{% import "app/macro/slider.html.twig" as content %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
{% endblock %}
{% block content %}
<div class="pi-section-w pi-section-white piCaptions">
    <div class="pi-section pi-padding-bottom-60">
        <!-- Filter -->
        <div class="pi-pagenav pi-padding-bottom-20 pi-big pi-text-center" data-isotope-nav="isotope">
            <ul>
                <li><a href="#" class="categorie-all" data-filter="*">
                        <span class="categorie-description">L'ensemble de tous les actualités du site.</span>Tous les articles</a></li>
                {% for categorie in categories %}
                    <li><span class="categorie-description">{{ categorie.description|raw }}</span>
                        <a href="#" data-filter=".{{ categorie.slug }}" class="">{{ categorie.name }}</a></li>
                {% endfor %}
            </ul>
            <div id="categorie-description">L'ensemble de tous les actualités du site.</div>
        </div>
        <!-- End filter -->
        <!-- Portfolio gallery -->
        <div id="isotope" class="pi-row pi-liquid-col-xs-2 pi-liquid-col-sm-3 pi-gallery pi-gallery-small-margins pi-text-center isotope" >
            {{ content.article_content(categories_content) }}
        </div>
        <!-- End portfolio gallery -->

    </div>
</div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}