<div id="page">
    <!-- - - - - - - - - - SECTION - - - - - - - - - -->
    <!-- Title bar -->
    <div class="pi-section-w pi-section-base pi-section-base-gradient">
        <div class="pi-texture" style="background: url({{ asset('assets/img/hexagon.png') }}) repeat;"></div>
        <div class="pi-section" style="padding: 30px 40px 26px;">
            <div class="pi-row">
                <div class="pi-col-sm-4 pi-center-text-xs">
                    <h1 class="h2 pi-weight-300 pi-margin-bottom-5">Clients</h1>
                </div>
                <div class="pi-col-sm-8 pi-text-right pi-center-text-xs">
                    <p class="lead-20 pi-weight-300 pi-margin-top-5 pi-margin-bottom-5">Neque porro quisquam qui
                        dolorem</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End title bar -->
    <!-- - - - - - - - - - END SECTION - - - - - - - - - -->
    <!-- - - - - - - - - - SECTION - - - - - - - - - -->
    <!-- Breadcrumbs -->
    <div class="pi-section-w pi-border-bottom pi-section-grey">
        <div class="pi-section pi-titlebar pi-breadcrumb-only">
            <div class="pi-breadcrumb pi-center-text-xs">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Company</a>
                    </li>
                    <li>Clients</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End breadcrumbs -->
    <!-- - - - - - - - - - END SECTION - - - - - - - - - -->
    <!-- - - - - - - - - - SECTION - - - - - - - - - -->
    <div class="pi-section-w pi-section-white piTooltips">
        <div class="pi-section pi-padding-bottom-80">
            <!-- Intro text -->
            <p class="lead-30 pi-text-dark pi-text-center">
                Nam libero tempore,
                <span class="pi-text-bg-base">cum soluta</span> nobis est optio cumque nihil impedit quo minus id quod
                maxime placeat facere

            </p>
            <hr class="pi-divider-gap-70">
            <!-- End intro text -->
            <!-- Logos gallery -->
            <div class="pi-row pi-liquid-col-2xs-2 pi-liquid-col-sm-5 pi-gallery pi-gallery-small-margins">
                <!-- Logo -->
                <div class="pi-gallery-item">
                    <div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Nike">
                        <a href="#">
<span class="pi-img-border-double pi-img-opacity-70"
      style="background: #f6f9f9;">
<img src="{{ asset('assets/img_external/clients/nike-2.png') }}" alt="">
</span>
                        </a>
                    </div>
                </div>
                <!-- End logo -->
                <!-- Logo -->
                <div class="pi-gallery-item">
                    <div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Google">
                        <a href="#">
<span class="pi-img-border-double pi-img-opacity-70"
      style="background: #f6f9f9;">
<img src="{{ asset('assets/img_external/clients/google-2.png') }}" alt="">
</span>
                        </a>
                    </div>
                </div>
                <!-- End logo -->
                <!-- Logo -->
                <div class="pi-gallery-item">
                    <div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Sony">
                        <a href="#">
<span class="pi-img-border-double pi-img-opacity-70"
      style="background: #f6f9f9;">
<img src="{{ asset('assets/img_external/clients/sony-2.png') }}" alt="">
</span>
                        </a>
                    </div>
                </div>
                <!-- End logo -->
                <!-- Logo -->
                <div class="pi-gallery-item">
                    <div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Virgin">
                        <a href="#">
<span class="pi-img-border-double pi-img-opacity-70"
      style="background: #f6f9f9;">
<img src="{{ asset('assets/img_external/clients/virgin-2.png') }}" alt="">
</span>
                        </a>
                    </div>
                </div>
                <!-- End logo -->
                <!-- Logo -->
                <div class="pi-gallery-item">
                    <div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Instagram">
                        <a href="#">
<span class="pi-img-border-double pi-img-opacity-70"
      style="background: #f6f9f9;">
<img src="{{ asset('assets/img_external/clients/instagram-2.png') }}"
     alt="">
</span>
                        </a>
                    </div>
                </div>
                <!-- End logo -->
                <!-- Logo -->
                <div class="pi-gallery-item">
                    <div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Disney">
                        <a href="#">
<span class="pi-img-border-double pi-img-opacity-70"
      style="background: #f6f9f9;">
<img src="{{ asset('assets/img_external/clients/disney-2.png') }}"
     alt="">
</span>
                        </a>
                    </div>
                </div>
                <!-- End logo -->
                <!-- Logo -->
                <div class="pi-gallery-item">
                    <div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Rolex">
                        <a href="#">
<span class="pi-img-border-double pi-img-opacity-70"
      style="background: #f6f9f9;">
<img src="{{ asset('assets/img_external/clients/rolex-2.png') }}"
     alt="">
</span>
                        </a>
                    </div>
                </div>
                <!-- End logo -->
                <!-- Logo -->
                <div class="pi-gallery-item">
                    <div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Yahoo">
                        <a href="#">
<span class="pi-img-border-double pi-img-opacity-70"
      style="background: #f6f9f9;">
<img src="{{ asset('assets/img_external/clients/yahoo-2.png') }}"
     alt="">
</span>
                        </a>
                    </div>
                </div>
                <!-- End logo -->
                <!-- Logo -->
                <div class="pi-gallery-item">
                    <div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Amazon">
                        <a href="#">
<span class="pi-img-border-double pi-img-opacity-70"
      style="background: #f6f9f9;">
<img src="{{ asset('assets/img_external/clients/amazon-2.png') }}"
     alt="">
</span>
                        </a>
                    </div>
                </div>
                <!-- End logo -->
                <!-- Logo -->
                <div class="pi-gallery-item">
                    <div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Cartier">
                        <a href="#">
<span class="pi-img-border-double pi-img-opacity-70"
      style="background: #f6f9f9;">
<img src="{{ asset('assets/img_external/clients/cartier-2.png') }}"
     alt="">
</span>
                        </a>
                    </div>
                </div>
                <!-- End logo -->
                <!-- Logo -->
                <div class="pi-gallery-item">
                    <div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Microsoft">
                        <a href="#">
<span class="pi-img-border-double pi-img-opacity-70"
      style="background: #f6f9f9;">
<img src="{{ asset('assets/img_external/clients/microsoft-2.png') }}"
     alt="">
</span>
                        </a>
                    </div>
                </div>
                <!-- End logo -->
                <!-- Logo -->
                <div class="pi-gallery-item">
                    <div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Nickelodeon">
                        <a href="#">
<span class="pi-img-border-double pi-img-opacity-70"
      style="background: #f6f9f9;">
<img src="{{ asset('assets/img_external/clients/nickelodeon-2.png') }}"
     alt="">
</span>
                        </a>
                    </div>
                </div>
                <!-- End logo -->
                <!-- Logo -->
                <div class="pi-gallery-item">
                    <div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Yelp">
                        <a href="#">
<span class="pi-img-border-double pi-img-opacity-70"
      style="background: #f6f9f9;">
<img src="{{ asset('assets/img_external/clients/yelp-2.png') }}"
     alt="">
</span>
                        </a>
                    </div>
                </div>
                <!-- End logo -->
                <!-- Logo -->
                <div class="pi-gallery-item">
                    <div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Diesel">
                        <a href="#">
<span class="pi-img-border-double pi-img-opacity-70"
      style="background: #f6f9f9;">
<img src="{{ asset('assets/img_external/clients/diesel-2.png') }}"
     alt="">
</span>
                        </a>
                    </div>
                </div>
                <!-- End logo -->
                <!-- Logo -->
                <div class="pi-gallery-item">
                    <div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Converse">
                        <a href="#">
<span class="pi-img-border-double pi-img-opacity-70"
      style="background: #f6f9f9;">
<img src="{{ asset('assets/img_external/clients/converse-2.png') }}"
     alt="">
</span>
                        </a>
                    </div>
                </div>
                <!-- End logo -->
            </div>
            <!-- End logos gallery -->
        </div>
    </div>
    <!-- - - - - - - - - - END SECTION - - - - - - - - - -->
    <!-- - - - - - - - - - SECTION - - - - - - - - - -->
    <div class="pi-section-w pi-shadow-inside-top pi-section-grey">
        <div class="pi-texture" style="background: url({{ asset('assets/img/hexagon.png') }}) repeat;"></div>
        <div class="pi-section pi-padding-top-60 pi-padding-bottom-40 pi-text-center">
            <p class="lead-30 pi-text-dark">
                Have a project with us?
                <span class="pi-weight-400">Feel free</span>
                <a href="#" class="btn pi-btn-base pi-btn-big" style="margin-left: 25px;">
                    <i class="icon-mail pi-icon-left"></i> Get in Touch

                </a>
            </p>
        </div>
    </div>
    <!-- - - - - - - - - - END SECTION - - - - - - - - - -->
</div>