
{% block _article_images_collection_widget %}
    <div class="form-group">
        <div id="article_images"
             data-prototype="">
            {% if form.children | length >0 %}
            {% for k, image in form.children %}
                {% set image_path = 'images/articles/'~image.vars.value.filename %}
                {% set display_class = image_path ? : "d-none" %}
{#                {{ dump( file_get_contents(image.children.imageFile.vars["data"]["file"].pathname ) )}}
                <img src="{{ image.children.imageFile.vars["data"]["file"].pathname }}" alt="">#}
                <div class="form-group  field-image">
                    {{ form_errors(image.children.imageFile) }}
                    {% if image.vars.value.filename %}
                    <img id="img_preview_{{ k }}" src="{{ asset(image_path) | imagine_filter('bo_thumb')}}" alt="" width="200" height="200">
                    {% endif %}
                    <div class="btn btn-secondary input-file-container">
                    <label for="{{ image.children.imageFile.children.file.vars.id }}" class="custom-file-label">
                        <i class="fa fa-upload">Choisir fichier</i>
                        <input data-index="{{ k }}" type="file" name="{{ image.children.imageFile.children.file.vars.full_name }}" id="{{ image.children.imageFile.children.file.vars.id }}" class="d-none custom-file-input file-item">
                    </label>
                        <input type="button" data-index="{{ k }}" class="btn btn-danger delete_image_item" value="supprimer"/>
                    </div>
                </div>
                <div class="" id="meta_{{ k }}">
                    {{ form_errors(image.children.alt) }}
                <label for="alt_{{ k }}">alternative texte</label>
                <input id="alt_{{ k }}" name="{{ image.children.alt.vars.full_name }}" value="{{ image.children.alt.vars.value }}" type="text" class="form-control {{ display_class }}" placeholder="alternative texte">
                <label for="title_{{ k }}">title texte</label>
                <input id="title_{{ k }}" name="{{ image.children.title.vars.full_name }}" value="{{ image.children.title.vars.value }}" type="text" class="form-control {{ display_class }}" placeholder="titre de l'image">
                </div>
            {% endfor %}
                {% else %}
                    <div class="form-group  field-image">
                        <div class="btn btn-secondary input-file-container">
                            <label for="article_images_0_imageFile_file" class="custom-file-label">
                                <i class="fa fa-upload">Choisir fichier</i>
                                <input data-index="0" type="file" name="article[images][0][imageFile][file]" id="article_images_0_imageFile_file" class="d-none custom-file-input file-item">
                            </label>
                            <input type="button" data-index="0" class="btn btn-danger delete_image_item" value="supprimer">
                        </div>
                    </div>
                    <img id="img_preview_0"  class="preview_img d-none" width="200" height="200"/>
                    <div id="meta_0" class="d-none">
                    <input id="alt_0" name="article[images][0][alt]" type="text" class="form-control" placeholder="alternative texte">
                    <input id="title_0" name="article[images][0][title]" type="text" class="form-control" placeholder="titre de l'image">
                    </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block collection_row %}
    {{ block('form_row') }}

    {% if allow_add|default(false) %}


        <div class="form-group field-collection-action">
            <div class="form-widget">
                <a href="#" class="btn btn-secondary btn-sm" id="add_image">
                    <i class="fa fa-plus"></i>
                    <span class="btn-label">{{ (form|length == 0 ? 'action.add_new_item' : 'action.add_another_item')|trans({}, 'EasyAdminBundle') }}</span>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock collection_row %}