<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Comment contacter.info!{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    {% block metadata %}{% endblock %}
    <link rel="shortcut icon" href="/favicon.ico"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/3dParty/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/global.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/3dParty/colorbox/colorbox.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/typo.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/portfolio.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/page-nav.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/slider.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/social.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/button_caller.css') }}"/>
		<link rel="stylesheet" href="{{ asset('assets/css/widget.css') }}"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,cyrillic'
              rel='stylesheet' type='text/css'/>

        <link rel="stylesheet" href="{{ asset("assets/3dParty/fontello/css/fontello.css") }}"/>
    {% endblock %}
</head>
<body>
<div id="fb-root"></div>
{% set route = app.request.attributes.get("_route") %}
{% block body %}

    {% set categories = render(controller("App\\Controller\\AppController::getCategories")) | json_decode%}
    {% block header %}
        <div id="pi-all">
        {{ include('app/header/header.html.twig', {'route': route}) }}

    {% endblock %}
    <div id="page">
        <!-- - - - - - - - - - SECTION - - - - - - - - - -->
        <!-- Title bar -->
        <div class="pi-section-w pi-section-base pi-section-base-gradient">
            <div class="pi-texture" style="background: url({{ asset('assets/img/hexagon.png') }}) repeat;"></div>
            {#<div class="pi-section" style="padding: 30px 40px 26px;">#}
                {#<div class="pi-row">#}
                    {#<div class="pi-col-sm-4 pi-center-text-xs">#}
                        {#<h1 class="h2 pi-weight-300 pi-margin-bottom-5"><a href="{{ path('home') }}"> Contacter.info</a></h1>#}
                    {#</div>#}
                    {#<div class="pi-col-sm-8 pi-text-right pi-center-text-xs">#}
                        {#<p class="lead-20 pi-weight-300 pi-margin-top-5 pi-margin-bottom-5">Neque porro quisquam qui dolorem</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
        <!-- End title bar -->
        <!-- - - - - - - - - - END SECTION - - - - - - - - - -->
        {% include "breadcrumbs.html.twig" %}
        {% block content %}

        {% endblock %}
        <!-- - - - - - - - - - SECTION - - - - - - - - - -->

        <!-- - - - - - - - - - END SECTION - - - - - - - - - -->
    </div>
    {% block footer %}
        {{ include('footer.html.twig') }}
    {% endblock %}
    </div>
    <div class="pi-scroll-top-arrow" data-scroll-to="0"></div>
{% endblock %}
{% block javascripts %}

    <script src="{{ asset('assets/3dParty/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ asset('assets/3dParty/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/3dParty/FitVids.js/jquery.fitvids.js') }}"></script>
    <script src="{{ asset('assets/3dParty/jquery.touchSwipe.min.js') }}"></script>
    <script src="{{ asset('assets/3dParty/isotope/isotope.js') }}"></script>
    <script src="{{ asset('assets/3dParty/requestAnimationFramePolyfill.min.js') }}"></script>
    <script src="{{ asset('assets/3dParty/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('assets/3dParty/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ asset('assets/3dParty/colorbox/jquery.colorbox-min.js') }}"></script>
    <script src="{{ asset('assets/scripts/pi.global.js') }}"></script>
    <script src="{{ asset('assets/scripts/pi.init.fitvids.js') }}"></script>
    <script src="{{ asset('assets/scripts/pi.slider.js') }}"></script>
    <script src="{{ asset('assets/scripts/pi.init.slider.js') }}"></script>
    <script src="{{ asset('assets/scripts/pi.init.isotope.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
</body>
</html>
