<!-- - - - - - - - - - SECTION - - - - - - - - - -->
<!-- Breadcrumbs -->
<div class="pi-section-w pi-border-bottom pi-section-grey">
    <div class="pi-section pi-titlebar pi-breadcrumb-only">
        <div class="pi-breadcrumb pi-center-text-xs">
            <ul>
                <li>
                    <a href="{{ path('home') }}">Home</a>
                </li>
                {% if route != "home" %}
                    {% if route == "categorie" %}
                        <li>
                            <a href="#">Categories</a>
                        </li>
                        <li>{{ app.request.get("categorie").name | capitalize }}</li>
                    {% endif %}
                    {% if route == "article" %}
                        {% set _categorie = app.request.get("categorie") %}
                        <li>
                            <a href="{{ path('categorie', {'categorie' : _categorie.slug}) }}">{{ _categorie.name | capitalize }}</a>
                        </li>
                        <li>{{ app.request.get("article").name | capitalize }}</li>
                    {% endif %}

                    {% if route == "mentions-legales" %}
                        <li>Mentions l&eacute;gales</li>
                        {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!-- End breadcrumbs -->
<!-- - - - - - - - - - END SECTION - - - - - - - - - -->